# Automatically putting clients on specific workspaces:
#
# Assign clients to workspace 2
for_window [class="Brave-browser"] move container to workspace number 2; workspace 2, focus

# Assign clients to workspace 3
for_window [app_id="thunar"] move container to workspace number 3; workspace 3, focus

# Assign clients to workspace 4
for_window [class="steam"] move container to workspace number 4; workspace 4, focus

# Assign clients to workspace 5
for_window [app_id="lutris"] move container to workspace number 5; workspace 5, focus
for_window [app_id="net.lutris.Lutris"] move container to workspace number 5; workspace 5, focus
for_window [class="heroic"] move container to workspace number 5; workspace 5, focus

# Assign clients to workspace 6
for_window [class="vlc"] move container to workspace number 6; workspace 6, focus

# Assign clients to workspace 7
for_window [app_id="org.pwmt.zathura"] move container to workspace number 7; workspace 7, focus
for_window [app_id="com.github.johnfactotum.Foliate"] move container to workspace number 7; workspace 7, focus
for_window [app_id="info.febvre.Komikku"] move container to workspace number 7; workspace 7, focus
for_window [app_id="com.github.hugolabe.Wike"] move container to workspace number 7; workspace 7, focus

# Assign clients to workspace 8
for_window [class="Spotify"] move container to workspace number 8; workspace 8, focus

# Assign clients to workspace 9
for_window [app_id="org.qbittorrent.qBittorrent"] move container to workspace number 9; workspace 9, focus

# Assign clients to workspace 10
for_window [app_id="librewolf"] move container to workspace number 10; workspace 10, focus

# Set floating (nontiling)for apps needing it:
#
#for_window [class="Yad" instance="yad"] floating enable
#for_window [app_id="yad"] floating enable
#for_window [app_id="blueman-manager"] floating enable,  resize set width 40 ppt height 30 ppt

# set floating (nontiling) for special apps:
#
for_window [app_id="pavucontrol"] floating enable, move position centered, resize set width 40 ppt height 40 ppt
for_window [app_id="com.github.unrud.VideoDownloader"] floating enable, move position centered, resize set width 40 ppt height 40 ppt
for_window [app_id="qt5ct"] floating enable, move position centered, resize set width 60 ppt height 60 ppt
for_window [app_id="galculator"] floating enable, move position centered, resize set width 25 ppt height 40 ppt
for_window [app_id="com.rafaelmardojai.Blanket"] floating enable, move position centered, resize set width 25 ppt height 40 ppt
for_window [class="Lxappearance"] floating enable, move position centered, resize set width 60 ppt height 50 ppt
for_window [app_id="net.davidotek.pupgui2"] floating enable, move position centered, resize set width 50 ppt height 50 ppt
for_window [app_id="dev.geopjr.Collision"] floating enable, move position centered, resize set width 50 ppt height 50 ppt
for_window [app_id="ristretto"] floating enable, move position centered, resize set width 60 ppt height 70 ppt
for_window [app_id=piper] floating enable, move position centered, resize set width 60 ppt height 70 ppt
for_window [class="GOverlay"] floating enable, move position centered, resize set width 80 ppt height 90 ppt
for_window [app_id="nm-connection-editor"] floating enable, move position centered, resize set width 60 ppt height 60 ppt
#for_window [class="Bluetooth-sendto" instance="bluetooth-sendto"] floating enable
#for_window [class="Xsane" instance="xsane"] floating enable

# set floating for window roles
#
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable
for_window [window_role="About"] floating enable
for_window [title="File Operation Progress"] floating enable, border pixel 1, sticky enable, resize set width 40 ppt height 30 ppt
for_window [title="Picture in picture"] floating enable, sticky enable
for_window [title="nmtui"] floating enable,  resize set width 50 ppt height 70 ppt
for_window [title="htop"] floating enable, resize set width 50 ppt height 70 ppt
for_window [app_id="xsensors"] floating enable
for_window [title="Save File"] floating enable

# Inhibit idle
#
for_window [app_id="Chromium"] inhibit_idle fullscreen
for_window [app_id="librewolf"] inhibit_idle fullscreen
for_window [class="Brave-browser"] inhibit_idle fullscreen
